@{
    Layout = "_Layout";
}


    <div>
        <table>
            <tr>
                <td><p>Питання </p></td>
                <td><p>--</p></td>
                <td><p>---</p></td>
                <td></td>
            </tr>
            @foreach (var b in ViewBag.questions)
        {
            <tr>
                <td><p>@b.id_question</p></td>

            </tr>
    }
        </table>
    </div>
</body>
</html>
